.notes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 0px;
}

.notes * {
  margin-right: 15px;
}

.noteButton {
  height: 50px;
  width: 100px;
  background-color: lightgreen;
}

.noteButton:focus {
  outline: none;
}
