body {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/6111802/1820/1023/m1/fpnw/wm1/k5dnntzsjbmwkdmhb1jbkposcszrwa3xlfzjb34zhoqb1yyymzlakkto95jfpuvj-.jpg?1553260050&s=2c92bcda302f0e9ea8aa64909d367449");
}

.App {
  text-align: center;
  display: flex;
}
